.single-box,
.cart-card {
  min-width: 300px;
  min-height: 400px;
  border: 2px solid #bebebe;
  border-radius: 6px;
  transition: all 0.5s ease;
}

.single-box:hover,
.cart-card:hover {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.single-card img,
.cart-card img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.single-card h2,
.cart-card h2 {
  color: rgb(81, 68, 165);
  font-size: 20px;
  margin-top: 8px;
  margin-left: 5px;
}

.single-card .card-price,
.cart-card p {
  color: rgb(34, 133, 69);
  margin-top: 5px;
  margin-left: 5px;
}

.single-card .card-category {
  margin-bottom: 10px;
  display: inline-block;
  color: rgb(34, 133, 69);
  background-color: #e7e5e5;
  margin-top: 5px;
  margin-left: 5px;
  padding: 4px 7px;
  border: 1px solid transparent;
  border-radius: 6px;
}
